<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Time Display</title>
</head>
<body>
    <h1>Time Display!</h1>
    <h2>The Current Time is: <p>@ViewBag.currTime</p></h2>
</body>
</html>